body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-color: #1f1f1f;
}

.container{
    top: 0;
    padding: 5px;
    height: 50px;
}

.link-list-a {
    font-family: LXGW WenKai;
    color:inherit;
    font-weight: bold;
    font-size: 14px;
}

a[target] {
    background-color: #ccc;
}

a[onclick] {
    background-color: rgb(152, 160, 171);
}

.link-list-a{
    background: rgba(255,255,255,1);
    display: block;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    line-height: 45px;
    border-radius: 2px;
    font-size: 14px;
    color: #6b7184;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; /* Firefox 4 */
    -webkit-transition: all 0.3s ease; /* Safari 和 Chrome */
    -o-transition: all 0.3s ease; /* Opera */
    text-decoration: none;
}

.link-list-a:hover {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background: #6b7184;
    text-decoration: none;
}

.link-list-a::after{
    display: none;
    position: absolute;
    width: 100%;
    background: #3384a2;
    border-radius: 2px;
    text-decoration: none;
}

button{
    font-family: LXGW WenKai;
    border: none;
    font-weight: bold;
    width: 80px;
    height: 40px;
    margin: 5px;
    font-size: 14px;
    background-color: rgba(255,255,255,1);
    color: #6b7184;
}

button:hover {
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: bold;
    background: #6b7184;
    text-decoration: none;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; /* Firefox 4 */
    -webkit-transition: all 0.3s ease; /* Safari 和 Chrome */
    -o-transition: all 0.3s ease; /* Opera */
}

select{
    font-family: LXGW WenKai;
    border: none;
    font-weight: bold;
    width: 80px;
    height: 40px;
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #6b7184;
}

.desktop-only {
    display: none;
}

.head_nav1 {
    display: none;
}

.head_nav2 {
    display: none;
}

@media screen and (min-width: 800px) {
    .head_nav2 {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .head_nav1 {
        display: block;
    }
}

@media screen and (min-width: 1800px) {
    .desktop-only {
        display: block;
    }
}