<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CC Room</title>
    <meta http-equiv="content-type" content="Cache-Control: no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <link href="https://githcc.github.io/html_self_gpt/css/http_cdn.bootcdn.net_ajax_libs_zui_1.9.1_css_zui.css" rel="stylesheet">
    <link href="../css/gpt.css" rel="stylesheet">
</head>
<body>
<div id="loading-screen" class="loading-screen">
    <div class="loading-spinner"></div>
    <p>Loading...</p>
</div>
<div id="app">
    <div class="container">
        <div class="sidebar">
            <h2>Conversations</h2>
            <ul id="conversation-list">
                <li v-for="(conversation, index) in conversations"
                    :class="{ active: index === currentConversation }"
                    @click="displayConversation(index)">
                    {{ conversation.name }}
                </li>
            </ul>
        </div>
        <div class="chat-container">
            <div class="message-container" id="message-container">
                <div class="messages">
                    <div v-text="conversations[currentConversation].name"></div>
                    <div v-for="(messageItem, index) in conversations[currentConversation].messages"
                         :key="index" class="message">
                        [{{ messageItem.role }}]
                        <pre v-text="messageItem.content"></pre>
                    </div>
                </div>
            </div>
            <div class="input-container" v-if="!apiKey">
                <select v-model="currentApiProvider">
                    <option value="openai">OpenAI</option>
                    <option value="gemini">Gemini</option>
                </select>
                <textarea v-model="currentMessage" placeholder="Please enter your API key"></textarea>
                <button @click="saveApiKey">Send</button>
            </div>
            <div class="input-container" v-if="apiKey">
                <select v-model="currentApiProvider">
                    <option value="openai">OpenAI</option>
                    <option value="gemini">Gemini</option>
                </select>
                <textarea v-model="currentMessage" placeholder="Type your message..." @keydown.ctrl.enter="sendMessage"></textarea>
                <button @click="sendMessage">Send</button>
                <button @click="clearMessage">Clear</button>
            </div>
        </div>
    </div>
</div>

<script src="https://githcc.github.io/html_self_gpt/js/vue.min.js"></script>
<script src="https://githcc.github.io/html_self_gpt/js/gptData.js"></script>
<script>
    // 检测是否为手机端
    function isMobile() {
        let isMobileDevice = false;
        if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) {
            isMobileDevice = true;
        }
        return isMobileDevice;
    }

    // 如果是手机端,跳转到 index_m.html
    if (isMobile()) {
        window.location.href = "ccgpt_m.html";
    }
    new Vue({
        el: '#app',
        data: {
            currentConversation: 0,
            currentMessage: '',
            // api: 'https://api.openai-proxy.com',
            // apiKey: localStorage.getItem('apiKey'),
            api: 'https://119.91.23.137:9090',
            currentApiProvider: 'gemini',
            apiKey: 'sk-key',
            content: {
                model: 'gpt-3.5-turbo-1106',
                stream: true,
                messages: {}
            },
            conversations: conversationsData
        },
        created() {
            // Your existing created() logic
            if (this.apiKey) {
                this.loadChatRoom();
            } else {
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('app').style.display = 'block';
            }
            const urlParams = new URLSearchParams(window.location.search);
            // question
            const paramQ = urlParams.get('q');
            // index
            const paramI = urlParams.get('i');
            // type
            const paramT = urlParams.get('t');

            if (paramQ) {
                this.currentMessage = paramQ;
                this.currentConversation = paramI;
                this.currentApiProvider = paramT;
                this.sendMessage();
            }
        },
        methods: {
            displayConversation(index) {
                this.currentConversation = index;
            },
            sendMessage() {
                if (this.currentMessage.trim()) {
                    this.conversations[this.currentConversation].messages.push({
                        role: 'user',
                        content: this.currentMessage
                    });
                    this.content.messages = this.conversations[this.currentConversation].messages;
                    this.replyStream()
                    this.currentMessage = '';
                }
            },
            replyStream() {
                let that = this;
                let thatConversations = that.conversations;
                let thatCurrentConversation = that.currentConversation;

                if (this.currentApiProvider === 'openai') {
                    fetch(this.api + '/v1/chat/completions', {
                        method: 'POST',
                        headers: {
                            'Authorization': 'Bearer ' + this.apiKey,
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify(that.content)
                    }).then(response => {
                        if (response.status === 429){
                            thatConversations[thatCurrentConversation].messages.push({
                                role: 'assistant',
                                content: '请求限流'
                            });
                            return ;
                        }else if (response.status !== 200){
                            thatConversations[thatCurrentConversation].messages.push({
                                role: 'assistant',
                                content: '请求失败'
                            });
                            localStorage.removeItem('apiKey');
                            this.apiKey = '';
                            return ;
                        }
                        console.log(response)
                        const reader = response.body.getReader();
                        const decoder = new TextDecoder('utf-8');

                        thatConversations[thatCurrentConversation].messages.push({
                            role: 'assistant',
                            content: ''
                        });
                        return reader.read().then(function processResult(result) {
                            if (result.done) {
                                return;
                            }
                            let message= decoder.decode(result.value, { stream: true });
                            thatConversations[thatCurrentConversation].messages[thatConversations[thatCurrentConversation].messages.length-1].content += message
                                .split('\n')
                                .filter(item => item !== '')
                                .map(item => item.replace('data:', ''))
                                .map(itemText => {
                                    try {
                                        return JSON.parse(itemText).choices[0].delta.content;
                                    } catch (e) {
                                        return '';
                                    }
                                })
                                .join('');
                            return reader.read().then(processResult);
                        });
                    });
                } else {
                    let that = this;

                    fetch(this.api +'/v1/models/gemini-pro:generateContent', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(that.convertJsonFormat(that.content))
                    }).then(response => {
                        if (response.status !== 200) {
                            thatConversations[thatCurrentConversation].messages.push({
                                role: 'assistant',
                                content: 'Request failed'
                            });
                            return;
                        }

                        response.json().then(data => {
                            thatConversations[thatCurrentConversation].messages.push({
                                role: 'assistant',
                                content: data.candidates[0].content.parts[0].text
                            });
                        });
                    });
                }
            },
            convertJsonFormat(inputJson) {
                // 创建目标JSON格式的对象
                const outputJson = {
                    contents: []
                };

                // 遍历输入JSON中的messages数组
                for (const message of inputJson.messages) {
                    // 创建目标JSON格式中的content对象
                    const content = {
                        role: message.role==="assistant"?"model":message.role,
                        parts: [
                            {
                                text: message.content
                            }
                        ]
                    };

                    // 添加content对象到目标JSON的contents数组中
                    outputJson.contents.push(content);
                }

                return outputJson;
            },
            saveApiKey() {
                if (this.currentMessage.trim() !== '') {
                    localStorage.setItem('apiKey', this.currentMessage.trim());
                    this.apiKey = this.currentMessage.trim();
                    this.currentMessage = '';
                }
            },
            loadChatRoom() {
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('app').style.display = 'block';
            },
            clearMessage() {
                if (this.currentConversation === 0){
                    this.conversations[this.currentConversation].messages = [];
                }else{
                    this.conversations[this.currentConversation].messages = [this.conversations[this.currentConversation].messages[0]];
                }
            }
        }
    });
</script>
</body>
</html>